minimum_pre_commit_version: "5.0.0"
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix,--select, I ]
        types_or: [ python, pyi ]
      - id: ruff-format
        types_or: [ python, pyi ]
  # automatically upgrade syntax for newer versions of the language.
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
        - id: pyupgrade
          args: [--py312-plus]

